name: test

on:
  push:
    branches:
      - develop
      - main
  pull_request:

jobs:
  run:
    continue-on-error: True
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - {os: "macOS-12", python-version: "3.10"}
          - {os: "ubuntu-22.04", python-version: "3.12"}
          - {os: "ubuntu-22.04", python-version: "3.11"}
          - {os: "ubuntu-22.04", python-version: "3.10"}
          - {os: "ubuntu-22.04", python-version: "3.9"}
          - {os: "ubuntu-20.04", python-version: "3.8"}
          - {os: "ubuntu-20.04", python-version: "3.7"}
        #os: [ubuntu-latest] # TODO: add macos-latest, windows-latest ?
        #python-version: [3.7, 3.8, 3.9, 3.10, 3.11]

    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: pip install -e ."[dev]"

    - name: Unit tests and coverage
      run: |
        tox -e py${{ matrix.python-version }}
    - name: "Upload coverage to Codecov"
      uses: codecov/codecov-action@v4
      with:
        fail_ci_if_error: false
#    - name: Upload coverage to Codecov
#      uses: codecov/codecov-action@v1
#      with:
#        token: ${{ secrets.CODECOV_TOKEN }}
#        file: ./coverage.xml
#        flags: unittests
#        name: codecov-umbrella
#        fail_ci_if_error: true
